body {
  background: #faf0e6;
}
.mapdiv {
  width: 35%;
  margin: auto;
}

.mapdiv path {
  stroke: #faf0e6;
  stroke-width: 2px;
}

#Zona1 {
  fill: #D98880;
}

#Zona2 {
  fill: #9B59B6;
}

#Zona3 {
  fill: #1F618D;
}

#Zona4 {
  fill: #0E6251;
}
#Zona5 {
  fill: #1E8449;
}
#Zona6 {
  fill: #F1C40F;
}
