body {
  background: #faf0e6;
}
.mapdiv {
  width: 35%;
  margin: auto;
}

.mapdiv path {
  stroke: #faf0e6;
  stroke-width: 1px;
  opacity: 0.5;
}

.mapdiv :hover {
  fill: #172a1f;
  cursor: pointer;
  opacity: 1;
  stroke: #eb7600;
  stroke-width: 2px;
}

